body {
    background-color: rgb(132, 0, 255);
    font-size: 22px; 
}

a {
    color: black;
}

p {
    color: rgb(0, 0, 0);
}

img {
    height: auto;
    width: 880;
}

div {
    background-color: rgb(201, 42, 201);
    
}

span {
    color: blue;
}

.top-text {
    background-color: crimson;
    font-size: 26px;
    
}

.bottom-text {
    font-size: 19px;
}